/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}

.create-room a{
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.chat{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.chat-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title{
  font-size: 24px;
  color: #333;
  padding-top: 36px;
}

.header-button{
  margin-top: 40px;
}

.header-button a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
  box-sizing: border-box;
}

.message{
  padding: 10px 0;
  margin-bottom: 40px;
}

.upper-message{
  display: flex;
}

.message-user{
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.message-date{
  font-size: 12px;
  color: #999;
}

.lower-message{
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434a54;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  width: 100%;
  display: flex;
  background-color: white;
}

.form-message{
  padding-left: 10px;
  height: 50px;
  width: 100%;
  border: none;
}

.form-submit{
  margin-left: 15px;
  padding: 0 20px;
  height: 50px;
  background-color: #38aef0;
  font-size: 16px;
  color: white;
  border: none;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none; 
}